{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>

    <!-- Message area to show success and error message -->

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <!--  Title  -->
    <h2 class="title-head">Inverntory Manager</h2>
    <div class="main-container">
        <h2>Login</h2>
        
        <form action="login_user" method="post">  <!-- Form to verify user -->
            {% csrf_token %}

            <!-- Username input container -->
            <div class="cred-container">
                <label class="cred-label">Username</label>
                <br>
                <input class="inpt" type="text" placeholder="Enter username" name="username"> 
            </div>
            
            <!-- Password input container -->
            <div class="cred-container">
    
                <label class="cred-label">Confirm Password</label>
                <br>
                <input class="inpt" type="password" placeholder="Enter password" name="password"> 
            
            </div>
            
            <!-- Login button container -->
            <div class="login-container">
                <button class="btn-login" type="submit">Login</button>
            </div>
        </form>

        <!-- Signup button to switch from login page to signup page -->
        <form action="signup">
            <div class="signup-container">
                <button type="submit" class="btn-signup">Signup</button>
            </div>
        </form>

    </div>
</body>
</html>